<div>
  <nav class="navbar navbar-expand-sm nav-bar">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-title">
          <a routerLink="/" class="nav-link" style="color: #fff;" routerLinkActive="active">
            <i class="fa fa-home" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-title">
          <a routerLink="employees/addEmployee" class="nav-link" style="color: #fff;" routerLinkActive="active">
            Add Employees
          </a>
        </li>
        <li class="nav-title">
          <a routerLink="employees" class="nav-link" style="color: #fff;" routerLinkActive="active">
            Employees
            <i class="fa-solid fa-bridge-suspension"></i>
          </a>
        </li> 
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>

<!-- <div >
    <app-login></app-login>
</div> -->
