.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  width: 100%;
  font-size: 0.875rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eeeeee;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card-header {
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
  background: linear-gradient(60deg, #ef5350, #e53935);
  z-index: 3 !important;
}

.card-title {
  color: #fff;
}

.card-body {
  padding: 0.9375rem 20px;
  position: relative;
  flex: 1 1 auto;
  min-height: 1px;
}

.icon {
  cursor: pointer;
}
